@use "variables" as *;
@use "mixins" as *;

//=================================================================================================================================

.blog-articles {
	background: #f0f0f0;
	padding-top: 147px;
	padding-bottom: 120px;
	@media (min-width: 767.9808px) {
		padding-top: 90px ;
	}
	&-with-widget {
		.blog-articles__container {
			display: grid;
			@include adaptiveValue(gap, 60, 30);
			@media (min-width: 61.9988rem) {
				grid-template-columns: 1fr 17.5rem;
			}
		}
		.blog-articles__footer {
			@media (max-width: 61.9988rem) {
				order: 2;
			}
		}
		.blog-articles__body {
			@media (max-width: 61.9988rem) {
				order: 1;
			}
		}
		.aside-widget {
			@media (max-width: 61.9988rem) {
				order: 3;
			}
		}
	}
	&__container {
		max-width: 62.5rem;
		text-align: center;
	}
	.article {
	}
	&__body {
		text-align: left;
		display: grid;
		gap: 1.25rem;
		grid-template-columns: repeat(1, 1fr);
		align-items: stretch;
		&:not(:last-child) {
			margin-bottom: 70px;
		}

		@media (min-width: 43.75rem) {
			grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
		}
	}
	&__button{
		padding-inline: 118px;
		padding-block: 14px;
		display: block;
		width: 100%;
		@media (min-width:767.98px) {
			display: inline-block;
			width: auto;
		}
	}
	&__footer {
	}
}
