@use "variables" as *;
@use "mixins" as *;

.hero-blog {
	background: url(../assets/img/home-page/newsletter/newsletter-back.webp) center / cover no-repeat;
	@include adaptiveValue(padding-block, 150, 100);
	  background-attachment: fixed;

	&__container {
	}

	&__title {
		text-align: center;
		color: rgba(255, 255, 255, 0.7);
		font-size: 16px;
		font-family: Merriweather;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		text-transform: none;
		line-height: 30px;
		letter-spacing: 0;
	}
}
//=================================================================================================================================

.blog-articles {
	padding-block: 2.5rem;
		&__container {
			display: grid;
			column-gap: 1.25rem;
			row-gap: 2.5rem;
			grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
			@media (min-width:47.9988rem) {
				grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
				
			}
			@media (min-width:61.9988rem) {
				grid-template-columns: repeat(auto-fit, minmax(28.125rem, 1fr));
				
			}
		}
		.article{
			
		}
}
