@use "variables" as *;
@use "mixins" as *;
@use "nullstyle";
@use "icons";
@use "animations";
@use "blog-styles";

//

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	@media (min-width: 47.9988rem) {
		scroll-padding-top: 6.25rem;
	}
}

body {
	line-height: 1;
	font-family: Montserrat, sans-serif;
	color: #7b7b7b;
	font-size: 0.875rem;
	line-height: 200%; /* 20/14 */
	scroll-padding-top: 100px;

	&._lock {
		overflow: hidden;
	}
	&::selection {
		background: #1b1b1b;
		color: #fff;
	}
}
//

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: $containerWidth + px;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.button {
	display: inline-block;
	border-radius: 2.6875rem;
	padding: 0.75rem 2.5rem;
	color: #fff;
	background: #1f201c;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	transition:
		background 0.3s ease 0s,
		box-shadow 0.3s ease 0s;
	text-align: center;
	&:hover {
		background: #3186bc;
		box-shadow: 0rem 0.9375rem 3.125rem 0rem rgba(0, 0, 0, 0.24);
	}
	&-alt {
		background: #3186bc;
		&:hover {
			background: #1f201c;
			box-shadow: 0rem 0.9375rem 3.125rem 0rem rgba(0, 0, 0, 0.24);
		}
	}
}
.title {
	@include adaptiveValue(font-size, 35, 28);
	font-style: normal;
	font-weight: 700;
	text-transform: none;
	line-height: 114.285714%; /* 40/35 */
	letter-spacing: -0.125rem;
	color: #313131;
	@include adaptiveValue(margin-bottom, 55, 40);
	text-align: center;
}

.ibg {
	position: relative;
	img,
	video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
	}
}

.label {
	font-family: Montserrat;
	color: #2b2b2b;
	font-weight: 600;
	line-height: 1;
	font-size: 0.625rem;
	@media (min-width: 30rem) {
		font-size: 0.75rem;
	}
}

.article {
	border-radius: 0.375rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	&.--isGrid {
		justify-content: flex-start;
		.article__footer {
			padding: 0;
		}
		.article__photo {
			aspect-ratio: 58/37;
			overflow: hidden;
			    border-radius: 0.375rem;
			@include adaptiveValue(margin-bottom, 30, 20);
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		.article__label-link {
			color: #313131;
			transition: all 0.3s ease 0s;
			&:hover {
				text-decoration: none;
				opacity: 0.7;
			}
		}
		.article__label {
			@include adaptiveValue(margin-bottom, 20, 15);
			
		}
		.article__text {
			color: #7b7b7b;
			flex: 1 1 auto;
		}
		.article__date,
		.article__link {
			color: #c3c3c3;
			margin-bottom: 0;
			font-weight: 500;
		}
		.article__date {
		}
		.article__link {
			@media (any-hover: hover) {
				&:hover {
					color: #3498db;
				}
			}
		}
		.article__row {
			display: flex;
			align-items: center;
			gap: 0.9375rem;
			margin-bottom: 0.9375rem;
		}
		.article__action-button {
			color: #c3c3c3;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			font-size: 11px;
			@media (any-hover: hover) {
				&:hover {
					.article__action-icon {
						color: #3498db;
					}
				}
			}
			&:has(.dfd-socicon-icon-ios7-heart) {
				&:hover {
					.article__action-icon {
						color: #fa6047;
					}
				}
			}
		}
		.article__action-icon {
			font-size: 11px;
			transition: all 0.3s ease 0s;

			.dfd-socicon-icon-ios7-heart {
				font-size: 0.875rem;
			}
			&:has(.dfd-socicon-icon-ios7-heart) {
				height: 0.875rem;
				width: 0.875rem;
				flex: 0 0 0.875rem;
			}
		}
		.article__actions {
			display: flex;
			align-items: center;
			gap: 0.3125rem;
		}
	}
	&:not(.--isGrid) {
		aspect-ratio: 1 / 1;
		.article__photo {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.4);
				transition: all 0.5s ease 0s;
			}
		}

		.article__text {
			max-height: 0;
			margin-top: 0;
		}
		&:hover {
			.article__photo {
				&::after {
					background: rgba(0, 0, 0, 0.7);
				}
				img {
					transform: scale(1.05);
				}
			}
			.article__text {
				max-height: 6.25rem;
				margin-top: 1.25rem;
				transition:
					max-height 0.5s ease,
					margin-top 0.3s ease;
			}
		}
	}

	&__photo {
		img {
			transition: all 0.5s ease 0s;
		}
	}

	&__category {
		white-space: nowrap;
		padding: 0.625rem 1.25rem;
		font-size: 0.625rem;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.0313rem;
		color: #fff;
		background: #3498db;
		border-radius: 0.25rem;
		position: absolute;
		top: 0.9375rem;
		right: 0.9375rem;
		z-index: 2;
		font-weight: 600;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #efd101;
			color: #1b1b1b;
		}
	}

	&__footer {
		padding: 1.25rem;
		position: relative;
		z-index: 2;
	}

	&__date {
		font-size: 0.6875rem;
		font-style: normal;
		font-weight: 400;
		text-transform: none;
		line-height: 1;
		letter-spacing: 0;
		color: rgba(255, 255, 255, 0.4);
		display: flex;
		align-items: center;
		gap: 0.1875rem;
		margin-bottom: 0.9375rem;
	}

	&__icon {
	}

	&__time {
	}

	&__link {
		font-size: 0.6875rem;
		font-style: normal;
		font-weight: 400;
		text-transform: none;
		line-height: 1;
		letter-spacing: 0;
		color: rgba(255, 255, 255, 0.4);
		transition: all 0.3s ease 0s;
		&:hover {
			color: #fff;
		}
	}

	&__label {
	}

	&__label-link {
		color: #fff;
		font-size: 1.3125rem;
		font-style: normal;
		font-weight: 700;
		text-transform: none;
		line-height: 1.238;
		letter-spacing: -0.075rem;
		@include multiLineEllipsis(3);
		&:hover {
			text-decoration: underline;
		}
	}

	&__text {
		margin-top: 0;
		font-family: open sans;
		font-size: 0.875rem;
		color: rgba(255, 255, 255, 0.8);

		line-height: 2;
		@include multiLineEllipsis(2);
	}
}

//==========================================================================================================================================================

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transition: all 0.3s ease 0s;
	&._hide {
		opacity: 0;
		visibility: hidden;
	}
	&__wrapper {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #1b1b1b;
	}
	&__percentage {
		position: absolute;
		top: 50%;
		display: block;
		width: 100%;
		text-align: center;
		font-family: Montserrat;
		font-size: 2.8125rem;
		text-transform: uppercase;
		line-height: 3.4375rem;
		letter-spacing: 0.125rem;
		color: #ffde00;
		font-weight: 600;
	}
}

.pop-up {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 150;
	pointer-events: auto;
	display: flex;
	&:not(._active) {
		pointer-events: none;
		.pop-up__wrapper {
			visibility: hidden;
			opacity: 0;
			transition:
				opacity 0.3s ease 0s,
				visibility 0.3s ease 0s;
		}
		.pop-up__close-button {
			i {
				visibility: hidden;
				opacity: 0;
				transition:
					opacity 0.3s ease 0s,
					visibility 0.3s ease 0s;
			}
		}
	}
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: rgb(0, 0, 0, 0.9);
		}
	}
	&__close-button {
		color: #fff;

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		color: rgb(255, 255, 255);
		transition: color 0.3s linear;
		&:hover {
			color: rgb(255, 255, 255, 0.7);
		}
		i {
			position: absolute;
			top: 1.5625rem;
			right: 1.5625rem;
			font-size: 1.5rem;
			transition:
				opacity 0.3s ease 0.3s,
				visibility 0.3s ease 0.3s;

			opacity: 1;
			visibility: visible;
		}
	}
	&__wrapper {
		position: relative;
		z-index: 3;
		margin: auto;
		width: 100%;
		transition:
			opacity 0.3s ease 0.3s,
			visibility 0.3s ease 0.3s;

		opacity: 1;
		visibility: visible;
	}
}

.search {
	&__close-button {
	}

	&__back {
	}

	&__wrapper {
		max-width: 48rem;
	}

	&__form {
	}

	&__item {
		position: relative;
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
		margin: 0 1.25rem;
		&:has(input:focus) {
			&::after {
				width: 100%;
			}
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 0.1875rem;
			background: #3498db;
			transition: width 0.5s ease;
		}
	}

	&__input {
		width: 100%;
		font-size: 1.5625rem;
		padding: 1.5625rem 2.8125rem 1.5625rem 0;
		background: transparent;
		font-weight: 700;
		color: #fff;
		position: relative;

		&::placeholder {
			color: #fff;
		}
	}

	&__button {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.4);
		transition: color 0.3s linear;
		&:hover {
			color: rgb(255, 255, 255);
		}
	}
}

.secondary-menu {
	@media (max-width: 68.75rem) {
		display: none;
	}

	&__close-button {
	}
	&__back {
	}

	&__wrapper {
	}

	&__nav {
		display: grid;
		grid-template-columns: repeat(5, 16.66667%);
		justify-content: center;
		gap: 0.625rem;
	}

	&__list {
	}

	&__item {
		text-align: center;
	}

	&__title {
		font-size: 1.875rem;
		margin-bottom: 2.6875rem;
		font-weight: 700;
		line-height: 116.666667%; /* 35/30 */
		letter-spacing: -0.0625rem;
	}

	&__link {
		color: #3498db;
		transition: color 0.3s ease;
		&:hover {
			color: #fff;
		}
	}

	&__label {
		margin-top: 0.9375rem;
		color: #7b7b7b;
	}
}

.top-scroll-button {
	position: fixed;
	bottom: 2.625rem;
	right: 2.625rem;
	width: 2.625rem;
	height: 2.625rem;
	z-index: 50;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	font-size: 0.5625rem;
	transition: all 0.3s ease;
	@media (max-width: 47.9988rem) {
		display: none;
	}
	&:not(._active) {
		opacity: 0;
		visibility: hidden;
	}
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		transition: bottom 0.3s ease;
		&-current {
		}

		&-hover {
			bottom: -100%;
		}
	}
	&:hover {
		background: #3498db;
		transform: scale(1.1);
		box-shadow: 0 0.625rem 1.25rem 0.5rem rgba(0, 0, 0, 0.15);
		.top-scroll-button__arrow-current {
			bottom: 200%;
		}
		.top-scroll-button__arrow-hover {
			bottom: 0;
		}
	}
}

//==========================================================================================================================================================

.header {
	display: flex;
	padding: 0 1.25rem;
	transition: all 0.3s ease 0s;
	background: #1f201c;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	@media (max-width: 29.375rem) {
		& > .header-actions {
			.header-actions__item:has([data-pop-up-trigger="search"]) {
				display: none;
			}
		}
	}
	@media (max-width: 25rem) {
		& > .header-actions {
			display: none;
		}
	}
	@media (min-width: 1100px) {
		&:not(.header-alt, .--on-scroll) {
			background: transparent;
			.header__logo {
				padding-block: 25px;
			}
			.header-actions {
				border-color: transparent;
			}
		}
	}

	&-alt {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		&.--on-scroll {
			opacity: 1;
			visibility: visible;
		}
	}
	&.--on-scroll {
		box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.15);
	}
	&__logo {
		margin-right: auto;
		padding: 0.75rem 0;
		max-width: 9.375rem;
		@media (min-width: 26.25rem) {
			max-width: 12.5rem;
		}
		@media (min-width: 35.625rem) {
			max-width: 13.75rem;
		}
		transition: padding 0.5s ease 0s;
	}
	&__wrapper {
		@media (max-width: 68.75rem) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			z-index: 5;
			transition: all 0s 0.5s;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.4);
				opacity: 0;
				visibility: hidden;
				transition:
					opacity 0.3s ease,
					visibility 0.3s ease;
			}
			&._active {
				opacity: 1;
				visibility: visible;
				transition: all 0s 0s;
				.header__body {
					left: 0;
				}
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
			@media (min-width: 68.75rem) {
			}
		}
	}
	&__body {
		@media (max-width: 68.75rem) {
			position: absolute;
			top: 0;
			left: -100%;
			width: 16.25rem;
			height: 100%;
			background: #1d1e20;
			padding: 3.75rem 0 1.875rem;
			display: flex;
			flex-direction: column;
			z-index: 2;
			transition: left 0.3s 0.1s;
		}

		@media (min-width: 68.75rem) {
			display: contents;
		}
		.header-actions {
			padding: 1.125rem 1.5625rem;
			margin-left: 0;
			justify-content: flex-start;
			align-items: flex-start;
			@media (min-width: 68.75rem) {
				display: none;
			}
		}
	}

	&__close-button {
		position: absolute;
		top: 0.9375rem;
		right: 0.9375rem;
		color: #fff;
		font-size: 0.75rem;
		@media (min-width: 68.75rem) {
			display: none;
		}
	}

	&__socials {
		padding: 0.3125rem 1.5625rem;
		@media (min-width: 68.75rem) {
			display: none;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 0.9375rem;
		font-size: 0.9375rem;
	}

	&__item {
	}
	&__link {
		color: #fff;
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		width: 3.75rem;
		height: 3.75rem;
		margin-right: -1.25rem;
		transform: rotate(90deg);
		transition: transform 0.3s linear;
		&:hover {
			transform: rotate(0);
		}
		&._active {
			transform: rotate(0);
		}
		@media (max-width: 68.75rem) {
			display: none;
		}
	}

	&__point {
		width: 0.25rem;
		height: 0.25rem;
		border-radius: 50%;
		background: #fff;
	}

	&__point-1 {
	}

	&__point-2 {
	}

	&__point-3 {
	}
}

.header-menu {
	height: 100%;
	@media (max-width: 68.75rem) {
		margin-bottom: auto;
	}
	&__list {
		display: flex;
		height: 100%;
		flex-direction: column;
		@media (min-width: 68.75rem) {
			flex-direction: row;
		}
	}

	&__item {
		display: flex;
		@media (max-width: 68.75rem) {
			border-bottom: 0.0625rem solid #232527;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 0.625rem;
		letter-spacing: 0.05rem;
		padding: 0.9375rem 1.5625rem;
		font-weight: 700;
		line-height: 100%; /* 13/13 */
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		transition: color 0.3s linear;
		width: 100%;
		justify-content: flex-start;
		&:hover {
			color: rgb(255, 255, 255, 0.7);
		}
		@media (min-width: 68.75rem) {
			justify-content: center;
			width: auto;
		}
		@media (min-width: 68.75rem) {
			&._active {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 0.125rem;
					left: 0;
					bottom: 0;
					background: #efd101;
				}
			}
		}

		color: #fff;
		@media (min-width: 68.75rem) {
			font-size: 0.8125rem;
			letter-spacing: -0.0625rem;
			padding: 1.125rem;
		}
	}
}
.header-actions {
	margin-left: 2.25rem;
	padding: 0 1.25rem;
	border-inline: 0.0625rem solid rgba(255, 255, 255, 0.1);
	transition: border-color 0.3s ease 0s;
	&__list {
		display: flex;
		height: 100%;
		gap: 1.875rem;
	}

	&__item {
		display: flex;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.1875rem;
		color: rgb(255, 255, 255);
		transition: color 0.3s linear;
		&:hover {
			color: rgb(255, 255, 255, 0.7);
		}
	}

	&__icon {
		font-size: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		&:has(.dfd-socicon-Search) {
			font-size: 1rem;
		}
	}

	&__counter {
		width: 1.25rem;
		height: 1.25rem;
		background: #3498db;
		border-radius: 50%;
		color: #fff;
		font-size: 0.6875rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.burger-menu {
	display: none;
	width: 1.5rem;
	height: 0.75rem;
	background: transparent;
	position: relative;
	z-index: 3;
	align-self: center;
	margin-left: 1.25rem;
	@media (max-width: 68.75rem) {
		display: flex;
	}
	&__line {
		background: #fff;
		width: 100%;
		height: 0.125rem;
		position: absolute;
		&_1 {
			top: 0;
			left: 0;
		}

		&_2 {
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 1.25rem;
		}

		&_3 {
			bottom: 0;
			left: 0;
		}
	}
}

//==========================================================================================================================================================
.home-hero {
	background: url(../assets/img/home-page/hero/hero_bg.webp) center / cover no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 0;
	padding-block: 1.875rem;
	&__container {
		text-align: center;
		padding: 0 15px;
		@media (min-width: 24.4375rem) {
			padding: 0 1.875rem;
		}
	}

	&__header {
		margin-bottom: 5rem;
		@media (min-width: 47.9988rem) {
			margin-bottom: 6.5625rem;
		}
	}

	&__logo {
		margin-bottom: 0.75rem;
	}

	&__menu {
	}

	&__list {
		display: flex;
		gap: 0.3125rem;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		line-height: 1;
		@media (max-width: 31.25rem) {
			max-width: 20.625rem;
			margin: 0 auto;
		}
		@media (max-width: 21.25rem) {
			flex-direction: column;
		}
	}

	&__item {
		&:not(:last-child, .home-hero__item-spacer) {
			position: relative;
			padding-bottom: 0.625rem;
			@media (min-width: 21.3125rem) {
				padding-right: 0.625rem;
				padding-bottom: 0;
			}
			&::after {
				content: "";
				position: absolute;
				width: 0.3125rem;
				height: 0.3125rem;

				border-radius: 50%;
				background: #808080;
				@media (max-width: 21.25rem) {
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0);
				}
				@media (min-width: 21.3125rem) {
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
				}
			}
		}
	}

	&__link {
		font-weight: 700;
		color: #808080;
		font-family: Open Sans;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #ffde00;
		}
		&._active {
			color: #ffde00;
		}
	}

	&__item-spacer {
		position: relative;
		padding-right: 0;
		padding-bottom: 0.625rem;
		margin-bottom: 0.25rem;
		@media (min-width: 21.3125rem) {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		@media (min-width: 391px) {
			padding-right: 0.625rem;
			margin-right: 0.25rem;
		}
		&::after {
			content: "";
			position: absolute;

			background: #414040;
			@media (max-width: 21.25rem) {
				width: 0.9375rem;
				height: 0.0625rem;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
			}
			@media (min-width: 31.25rem) {
				top: 0;
				right: 0;
				width: 0.0625rem;
				height: 100%;
			}
		}
	}
}
.content-home-hero {
	max-width: 27.5rem;
	margin: 0 auto;
	padding: 0.3125rem;
	@media (max-width: 31.25rem) {
		max-width: calc(100vw - 3.75rem);
	}
	&__swiper.swiper {
		margin-bottom: 1.5625rem;
		width: 100%;
		max-width: 100%;
		transition: all 0.5s ease 0s;
		&:not(.--start-anim) {
			transform: scale(0.8);
			opacity: 0;
			visibility: hidden;
		}
	}

	&__wrapper {
	}

	&__slide {
	}

	&__body {
	}

	&__title {
		font-size: 1.875rem;
		color: #707070;
		font-weight: 700;
		line-height: 114.285714%; /* 48/42 */
		@media (min-width: 26.25rem) {
			font-size: 2.25rem;
		}
		@media (min-width: 47.9988rem) {
			font-size: 2.625rem;
		}
		padding-bottom: 0.625rem;
		margin-bottom: 0.625rem;
		position: relative;
		letter-spacing: 0;
		&::after {
			content: "";
			position: absolute;
			width: 5rem;
			height: 0.0625rem;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: #555555;
		}
	}

	&__text {
		font-family: Merriweather;
		font-weight: 400;
		font-style: italic;
		font-size: 0.875rem;
		color: #e2e2e2;
		line-height: 157.142857%; /* 22/14 */
		letter-spacing: 0.0125rem;
	}

	&__pagination.swiper-pagination {
		position: static;
		margin-top: 2.5rem;
		.swiper-pagination-bullet {
			margin: 0 0.625rem !important;
			width: 0.625rem;
			height: 0.625rem;
			background-color: rgba(255, 255, 255, 0.2);
			transition: background 0.3s ease;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				background: rgba(255, 255, 255, 0.6);
			}
			&:hover {
				background: rgba(255, 255, 255, 0.4);
			}
		}
	}

	&__button {
		display: inline-block;
		transition: all 0.5s ease 0s;
		&:not(.--start-anim) {
			transform: scale(0.8);
			opacity: 0;
			visibility: hidden;
		}
	}
}

//==========================================================================================================================================================

.home-about {
	background: #ececec;

	@include adaptiveValue(padding-top, 120, 70);
	@include adaptiveValue(padding-bottom, 70, 40);
	&__container {
	}

	&__body {
		display: flex;
		background: #fff;
		box-shadow: 0rem 1.875rem 7.5rem 0rem rgba(0, 0, 0, 0.25);
		@media (max-width: 56.25rem) {
			flex-direction: column;
		}
	}

	&__photo {
		flex: 0 0 50%;
		img {
			object-position: right center;
		}
		@media (max-width: 56.25rem) {
			aspect-ratio: 1/1;
		}
	}

	&__info {
		flex: 0 0 50%;
		padding: 3.125rem 1.25rem 2.5rem;
		@media (min-width: 61.9988rem) {
			padding: 3.125rem 3.75rem;
		}
	}

	&__title {
		font-size: 1.625rem;
		padding-bottom: 0.9375rem;
		font-weight: 700;
		color: #313131;
		text-align: center;
		position: relative;
		transition:
			transform 0.5s ease 0s,
			opacity 0.5s ease 0s,
			visibility 0.5s ease 0s;
		&:not(._active) {
			transform: translate(-50%, 0);
			opacity: 0;
			visibility: hidden;
		}
		@media (min-width: 47.9988rem) {
			font-size: 1.875rem;
		}
		&::after {
			content: "";
			position: absolute;
			width: 5rem;
			height: 0.0625rem;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: #3498db;
		}
		margin-bottom: 1.25rem;
	}

	&__text {
		font-family: Open Sans;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 200%; /* 28/14 */
		letter-spacing: 0;
		color: #7b7b7b;
		& p:not(:last-child) {
			margin-bottom: 0.9375rem;
		}
	}
}

//==========================================================================================================================================================

.home-articles {
	padding-block: 4.375rem;
	&__container {
	}

	&__title {
		transition:
			transform 0.5s ease 0s,
			opacity 0.5s ease 0s,
			visibility 0.5s ease 0s;
		&:not(._active) {
			transform: scale(0.8);
			opacity: 0;
			visibility: hidden;
		}
	}

	&__body {
		text-align: center;
	}

	&__swiper.swiper {
		text-align: left;
		@media (max-width: 47.9988rem) {
			margin-bottom: 2.5rem;
		}
	}

	&__wrapper {
	}

	&__slide {
	}

	&__pagination.swiper-pagination {
		@media (max-width: 47.9988rem) {
			display: none;
		}
		position: static;
		margin-top: 0.875rem;
		margin-bottom: 3.5625rem;
		.swiper-pagination-bullet {
			opacity: 1;
			width: 1.75rem;
			height: 0.125rem;
			background: #3498db;
			transition: background 0.3s ease;
			border-radius: 0;
			&.swiper-pagination-bullet-active {
				background: #efd101;
			}
			&:hover {
				background: #efd101;
			}
		}
	}

	&__button {
		padding-block: 0.5rem;
		transition: all 0.5s ease 0s;
		&:not(._active) {
			transform: scale(0.8);
			opacity: 0;
			visibility: hidden;
		}
	}
}

//==========================================================================================================================================================

.quote {
	padding-block: 2.5rem;
	background-color: #efd101;
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	&__container {
		@media (min-width: 61.9988rem) {
			padding: 0.5rem 1.875rem;
		}
	}

	&__icon {
		font-size: 1.5rem;
		color: rgb(31, 32, 28);
		width: 1.875rem;
		height: 1.875rem;
		margin-right: 0.9375rem;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
	}
	&__title {
		font-size: 0.9375rem;
		font-family: Merriweather;
		font-style: italic;
		font-size: 0.9375rem;
		color: #1f201c;
		letter-spacing: 0.0313rem;
	}
}

//==========================================================================================================================================================

.home-products {
	position: relative;
	perspective: 62.5rem;
	padding: 3.125rem 0 1.875rem;
	overflow: hidden;
	@media (min-width: 47.9988rem) {
		padding: 3.125rem 0 5.625rem;
	}
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		display: flex;

		backface-visibility: hidden;
		will-change: transform;
		animation: scrollBackground 60s linear infinite;
	}
	&__item {
		flex: 0 0 200vw;
		width: 200vw;
		backface-visibility: hidden;
		transform: translateZ(0);
	}

	&__container {
		display: flex;
		gap: 1.25rem;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		@media (min-width: 61.9988rem) {
			justify-content: flex-end;
			flex-direction: row;
			align-items: stretch;
		}
		@media (min-width: 100rem) {
			align-items: center;
		}
	}

	&__body {
		position: relative;
		z-index: 2;
		@media (min-width: 80rem) {
			flex: 0 1 33.16%;
		}
		@media (min-width: 1600px) {
			flex: 0 1 45.83%;
		}
		&._active {
			.home-products__title,
			.home-products__label,
			.home-products__text p,
			.home-products__button {
				transform: translate(0, 0) scale(1);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__label {
		margin-bottom: 0.625rem;
		transition:
			transform 0.3s ease 0s,
			opacity 0.3s ease 0s,
			visibility 0.3s ease 0s;
		transform: translate(-12.5rem, 0);
		opacity: 0;
		visibility: hidden;
	}

	&__title {
		font-size: 1.5rem;
		line-height: 125%; /* 30/24 */
		letter-spacing: -0.0938rem;
		color: #313131;
		font-weight: 700;
		margin-bottom: 0.9375rem;
		@media (min-width: 30rem) {
			font-size: 1.75rem;
			margin-bottom: 2.1875rem;
		}
		transition:
			transform 0.3s ease 0.2s,
			opacity 0.3s ease 0.2s,
			visibility 0.3s ease 0.2s;
		transform: translate(-12.5rem, 0);
		opacity: 0;
		visibility: hidden;

		span {
			font-family: Merriweather;
			font-style: italic;
		}
	}

	&__text {
		font-family: open sans;
		letter-spacing: 0;
		color: #7b7b7b;
		& p:not(:last-child) {
			margin-bottom: 0.9375rem;
		}
		& p:nth-child(1) {
			transition:
				transform 0.3s ease 0.4s,
				opacity 0.3s ease 0.4s,
				visibility 0.3s ease 0.4s;
		}
		& p:nth-child(2) {
			transition:
				transform 0.3s ease 0.6s,
				opacity 0.3s ease 0.6s,
				visibility 0.3s ease 0.6s;
		}
		& p:nth-child(3) {
			transition:
				transform 0.3s ease 0.8s,
				opacity 0.3s ease 0.8s,
				visibility 0.3s ease 0.8s;
		}
		& p:nth-child(4) {
			transition:
				transform 0.3s ease 1s,
				opacity 0.3s ease 1s,
				visibility 0.3s ease 1s;
		}

		p {
			transform: translate(-12.5rem, 0);
			opacity: 0;
			visibility: hidden;
		}
		@include adaptiveValue(margin-bottom, 35, 25);
	}

	&__buttons {
		display: flex;
		@include adaptiveValue(gap, 20, 15);
		align-items: center;
		justify-content: center;

		@media (max-width: 30rem) {
			flex-direction: column;
		}
	}

	&__button {
		padding: 0.5rem 2.5rem;
		@media (max-width: 30rem) {
			width: 100%;
		}
		transition: all 0.3s ease 1.2s;
		transition:
			transform 0.3s ease 1.2s,
			opacity 0.3s ease 1.2s,
			visibility 0.3s ease 1.2s,
			background 0.3s ease 0s,
			box-shadow 0.3s ease 0s;
		transform: scale(0.8);
		opacity: 0;
		visibility: hidden;
	}

	&__decor {
		position: relative;
		flex: 0 0 47.83%;
		@media (min-width: 100rem) {
			flex: 0 1 68.1%;
			margin-right: -18%;
			aspect-ratio: 818 / 840;
		}
		&._active {
			.home-products__image {
				transform: translate(0, 0);
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 61.9988rem) {
			max-width: 22.1875rem;
			width: 100%;
			aspect-ratio: 355/364;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		img {
			object-fit: contain;
		}
	}

	&__image-01 {
		transform: translate(-100%, 0);
		transition: all 0.5s ease 0s;
	}

	&__image-02 {
		transform: translate(100%, 0);
		transition: all 0.5s ease 0.5s;
	}

	&__image-03 {
		transform: translate(0, 100%);
		transition: all 0.5s ease 1s;
	}
}

//==========================================================================================================================================================
.newsletter {
	background: url(../assets/img/home-page/newsletter/newsletter-back.webp) center / cover no-repeat;
	@include adaptiveValue(padding-block, 70, 40);
	&__container {
		max-width: 50.625rem;
		text-align: center;
	}

	&__title {
		@include adaptiveValue(font-size, 42, 36);
		color: #ffde00;
		line-height: 147.619048%; /* 62/42 */
		font-weight: 700;
	}

	&__subtitle {
		font-family: Merriweather;
		font-weight: 600;
		font-style: italic;
		font-size: 0.875rem;
		line-height: 1.25rem;
		letter-spacing: 0.0187rem;
		margin-bottom: 2.5rem;
	}

	&__form {
		position: relative;
		@media (max-width: 34.375rem) {
			display: flex;
			flex-direction: column;
		}
	}

	&__item {
	}

	&__input {
		padding: 0.75rem 0.75rem;
		font-family:
			open sans,
			sans-serif;
		border-color: rgba(255, 255, 255, 0);
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		font-size: 0.875rem;
		border-radius: 1.5625rem 1.5625rem 0 0;
		background: rgba(255, 255, 255, 0.1);
		width: 100%;

		&::placeholder {
			color: rgb(255, 255, 255, 0.6);
			font-size: 0.8125rem;
			text-align: center;
			@media (min-width: 34.375rem) {
				text-align: left;
			}
		}
		@media (min-width: 34.375rem) {
			border-radius: 1.5625rem;
		}
	}

	&__button {
		background: #3186bc;
		transition:
			color 0.3s ease,
			background 0.3s ease;
		padding: 0 1.875rem;

		font-weight: 700;
		text-transform: uppercase;
		line-height: 390.909091%; /* 43/11 */
		letter-spacing: 0.05rem;
		color: #fff;
		border-radius: 0 0 1.5625rem 1.5625rem;
		font-size: 0.6875rem;
		@media (min-width: 34.375rem) {
			border-radius: 2.6875rem;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

//==========================================================================================================================================================

//==========================================================================================================================================================

.footer {
	background: #191a16;
	padding-block: 0.875rem;
	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.3125rem;
		@media (max-width: 30rem) {
			flex-direction: column;
		}
	}

	&__copy {
		color: #707070;
		text-align: center;
		font-family: "Merriweather", serif;
		font-size: 0.8125rem;
		font-style: italic;
	}
}
.footer-menu {
	&__list {
		display: flex;
		gap: 0.4375rem;
		@media (max-width: 30rem) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			@media (min-width: 30rem) {
				padding-right: 0.625rem;
			}
			@media (max-width: 30rem) {
				padding-bottom: 0.625rem;
			}
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;

				height: 0.1875rem;
				width: 0.1875rem;
				border-radius: 50%;
				background: #aaaaaa;
				@media (min-width: 30rem) {
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
				}
				@media (max-width: 30rem) {
					bottom: 0;
					right: 50%;
					transform: translate(-50%, 0);
				}
			}
		}
	}

	&__link {
		font-family: "Merriweather", serif;
		font-size: 0.8125rem;
		font-style: italic;
		color: #aaaaaa;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #fff;
		}
	}
}
//==========================================================================================================================================================
